{% extends "layouts/RecipesBase.html" %}

{% block title %} RECIPIES {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="section section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mb-5">
                    <table class="table">
                        <tr>
                            <th scope="row" id="ingredients">
                                <form method="post" action="" class="mt-4">
                                    <div class="form-group mb-4">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1">Enter Ingredients</label>
                                            {{ form.ingredients(class="form-control") }}
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-primary" type="submit">Get recipies</button>
                                </form>
                            </th>
                            <th scope="row" id="recipies">
                                <p class="text-center">

                                    {% for recipie in recipies %}
                                    <tr>
                                        <th>{{recipie | safe}}</th>
                                    </tr>
                                    {% endfor %}
                                </p>  
                            </th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-md pt-0">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-8">
                <div class="accordion" id="accordionExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is the purpose of a FAQ?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}