{% extends "layouts/RecipesBase.html" %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="section section-lg pt-4">
        <div class="container">
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">Insert ingredients</label>
                        <textarea class="form-control" placeholder="Enter your message..." id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="button">Recipies</button>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}